<ul class="nav flex-column navbar-dark bg-dark" style="width: 10%;">
    <li class="nav-item ml-3">
        <a class="nav-link active text-light" href="#">Users</a>
    </li>

    <li class="nav-item ml-3">
        <a class="nav-link text-light" href="#">Files</a>
    </li>

    <li class="nav-item ml-3">
        <a class="nav-link text-light" href="#">Actions</a>
    </li>

    <li class="nav-item ml-3">
        <a class="nav-link text-light" href="/logout?is_admin=1">Logout</a>
    </li>
</ul>